/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.externalNativeBuild
/*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
/Libraries/*.iml
/IngKee.iml
*/.DS_Store
*/.idea/
.idea/
/freeline
/freeline_core
freeline.py
freeline_project_description.json
*.iml
*/*.iml
/track_code_gen/code/__pycache__
CommonBusiness/InKeWebCore/src/main/gen/
CommonBusiness/InkeGiftModel/src/main/gen/
CommonBusiness/InkeTabModel/src/main/gen/
CommonBusiness/InkeUserAccountModel/src/main/gen/
CommonBusiness/Painter/src/main/gen/
Libraries/InkeCommon/src/main/gen/
leetcodeTest/src/main/gen/
.report
analyze/report
InKeMonitor/build
expand/*
node_modules/react-native-blur/android/build/
node_modules/react-native-audio/android/build/
node_modules/react-native-sound/android/build/
node_modules/rn-fetch-blob/android/build/
update_legacy.sh